<div class="col-xl-3 col-sm-6 mb-3">
    <div class="card bg-primary text-white Cfont-secondary " >
      <div class="card-body">
        
          <div class="media d-flex">
              <div class="align-self-center">
                <i class="pe-7s-power icon-card text-white float-left"></i>
              </div>
              <div class="media-body text-right">
                  <a class="text-white text-card d-block">Hours I/O</a>
                  <div class="d-inline-flex">
                      <h4 class="counter" countUp endVal="345"></h4>
                    </div>
                
              </div>
            </div>
    
      </div>
  </div>
</div>

<div class="col-xl-3 col-sm-6 mb-3" >
    <div class="card bg-primary  text-white Cfont-secondary "  >
        <div class="card-body">
          
            <div class="media d-flex">
                <div class="align-self-center">
                  <i class="pe-7s-clock icon-card text-white float-left"></i>
                </div>
                <div class="media-body text-right">
                    <a class="text-white text-card d-block">Total Hours</a>
                    <div class="d-inline-flex">
                    <h4 class="counter" countUp endVal="733"></h4>
                  </div>
                </div>
              </div>
      
        </div>
    </div>
        
</div>