<div class="col-xl-3 col-sm-6 mb-3">
    <div class="card Cfont-secondary " >
      <div class="card-body stat">
        
          <div class="media d-flex">
              <div class="align-self-center">
                <i class="pe-7s-cash icon-card text-primary float-left"></i>
              </div>
              <div class="media-body text-right">
                  <a class="text-grey text-card d-block">Total Cost</a>
                  <div class="d-inline-flex">
                      <h4 class="counter" countUp endVal="900"></h4><span>$</span>
                    </div>
              </div>
            </div>
    
      </div>
    </div>
</div>

<div class="col-xl-3 col-sm-6 mb-3">
    <div class="card Cfont-secondary " >
        <div class="card-body stat">
          
            <div class="media d-flex">
                <div class="align-self-center">
                  <i class="pe-7s-graph2 icon-card text-primary float-left"></i>
                </div>
                <div class="media-body text-right">
                    <a class="text-grey text-card d-block">KPI</a>
                    <div class="d-inline-flex">
                  <h4 class="counter" countUp endVal="99"></h4><span>%</span>
                </div>
                  
                </div>
              </div>
      
        </div>
      </div>
</div>