<div id="page-content-wrapper">

    <!-- View Table Button -->
    
   <app-right-fixed-tab-button></app-right-fixed-tab-button>
           <!-- Right Sidebar  Tables -->
   <app-tables></app-tables>
    <!-- Main Content -->
    
    <div id="main-content" class="container-fluid">
    
    
            <div class="row">
    
                    <div class="col-12">
    
                              <!-- Title & Breadcrumbs || Next Button -->
                      
                            <app-breadcrumb></app-breadcrumb>
                              <!-- Multi-Colored Progress Bar -->
                        <app-multicolored-progress></app-multicolored-progress>
                           
                              <!-- Cards -->
                      
                             <app-quickstart-cards></app-quickstart-cards>
                      
                              <!-- Collapsable Accordion with Page Contents -->
                            
                            
                                <app-quicstart-content></app-quicstart-content>
                              
   
                    </div>        
    
            </div>
    
    
    </div>
    
    <!--Footer-->
    
    <!--/.Footer-->
                  
              
    
    </div>
