
     <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">

        <!-- Left Side Bar Menu Button -->
        
          <div class="burger_box">
              <div class="menu-icon-container">
                <a href="#" id="menu-toggle" class="menu-icon js-menu_toggle closed">
                  <span class="menu-icon_box">
                    <span class="menu-icon_line menu-icon_line--1"></span>
                    <span class="menu-icon_line menu-icon_line--2"></span>
                    <span class="menu-icon_line menu-icon_line--3"></span>
                  </span>
                </a>
              </div>
          </div>
  
        <!-- Logo & Navbar Branding -->
          
            
          <a class="navbar-brand" href="#">
              <img src="assets/logo.svg" alt="Logo" style="width: 6rem;">
          </a>
  
        <!-- Mobile Menu Button -->
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navigation Top Bar Items -->
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Opportunity Manager </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Setup</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle  active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Inputs<span class="sr-only">(current)</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item  active" href="#">
  
                    Quick Start<span class="sr-only">(current)</span>
                    </a>
                <a class="dropdown-item" href="#">
                  
                    
                    Basic
                </a>
                    
                    <a class="dropdown-item" href="#">Advanced</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                  Custom
                  </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                  
            Resources
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                
                Review
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      
                      Reports
                      </a>
                    </li>
          </ul>
          
        </div>
      
      </nav>