     
     
     <div class="row container-fluid d-block ">
          <button type="button" class="btn btn-primary float-right" *ngIf="!accordianView" (click)="accView()"> Accordion View</button>
          <button type="button" class="btn btn-primary float-right" *ngIf="accordianView" (click)="normalView()"> Normal View</button>
          
      </div>

      <div class="container" *ngIf="accordianView">
          <app-accordion></app-accordion>
      </div>

      <div class="container" *ngIf="!accordianView">
          <div class="col-12">
                      <h1 class="text-primary mt-5 mb-2" id="headingOne">Control</h1>
                      <div class="col-12 ">
                          <div class="card Cfont-secondary " >
                              <div class="card-body row">
                                <div class="col-lg-6 col-xs-12">
                                    <app-input-default></app-input-default>
                                    <app-input-default></app-input-default>
                                    <app-input-default></app-input-default>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <app-input-default></app-input-default>
                                    <app-input-default></app-input-default>
                                    <app-input-default></app-input-default>
                                </div>
                              </div>
                          </div>
                          </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingTwo">Safety</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingThree">Device Integration</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingFour">Maintenance Response</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingFive">HMI (DCS)</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingSix">HMI (Safety)</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingSeven">Reports</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingEight">System Engineering</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingNine">Testing</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingTen">Specifications</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingeEleven">Documentations</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingTwelve">Site</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2" id="headingThirteen">Travel & Living</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
      </div>