     
     
     <div class="row container-fluid d-block ">
          <button type="button" class="btn btn-primary float-right" *ngIf="!accordianView" (click)="accView()"> Accordion View</button>
          <button type="button" class="btn btn-primary float-right" *ngIf="accordianView" (click)="normalView()"> Normal View</button>
          
      </div>

      <div class="container" *ngIf="accordianView">
          <app-accordion></app-accordion>
      </div>

      <div class="container" *ngIf="!accordianView">
          <div class="col-12">
                      <h1 class="text-primary mt-5 mb-2">Control</h1>
                      <div class="col-12 ">
                          <div class="card Cfont-secondary " >
                              <div class="card-body row">
                                <div class="col-6">
                                    <app-input-default></app-input-default>
                                    <app-input-default></app-input-default>
                                    <app-input-default></app-input-default>
                                </div>
                                <div class="col-6">
                                    <app-input-default></app-input-default>
                                    <app-input-default></app-input-default>
                                    <app-input-default></app-input-default>
                                </div>
                              </div>
                          </div>
                          </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">Safety</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">Device Integration</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">Maintenance Response</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">HMI (DCS)</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">HMI (Safety)</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">Reports</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">System Engineering</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">Testing</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">Specifications</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">Documentations</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">Site</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-12">
                    <h1 class="text-primary mt-5 mb-2">Travel & Living</h1>
                    <div class="col-12 ">
                        <div class="card Cfont-secondary " >
                            <div class="card-body row">
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                              <div class="col-6">
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                                  <app-input-default></app-input-default>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
      </div>