<div id="sidebar-wrapper" class="pt-4 pb-4">
                    
    <ul class="sidenav" >
      
        <li data-toggle="collapse" data-target="#control" aria-expanded="true" aria-controls="control">
          <a class=" nav-link-table  js-scroll-trigger"  href="#wrapper"  >
              <i data-feather="sliders"></i>

            Control 
          </a>
        </li>
       
        <li  data-toggle="collapse" data-target="#safety" aria-expanded="true" aria-controls="safety">
          <a class=" nav-link-table js-scroll-trigger"  href="#headingOne" >
              <i data-feather="shield"></i>

            Safety
          </a>
        </li>
        <li data-toggle="collapse" data-target="#di" aria-expanded="true" aria-controls="di" >
          <a class="nav-link-table js-scroll-trigger" href="#headingTwo"  >
              <i data-feather="airplay"></i>

              Device Integration
          </a>
        </li>
        <li data-toggle="collapse" data-target="#mr" aria-expanded="true" aria-controls="mr">
          <a class="nav-link-table js-scroll-trigger" href="#headingThree" >
              <i data-feather="alert-triangle"></i>
            Maintenance Response
          </a>
        </li>
        <li data-toggle="collapse" data-target="#hmid" aria-expanded="true" aria-controls="hmid">
          <a class="nav-link-table js-scroll-trigger" href="#headingFour" >
              <i data-feather="file-text"></i>

            HMI (DCS)

          </a>
        </li>
        <li data-toggle="collapse" data-target="#hmis" aria-expanded="true" aria-controls="hmis">
          <a class="nav-link-table js-scroll-trigger" href="#headingFive" >
              <i data-feather="file-text"></i>
            
            HMI (Safety)
          </a>
        </li>
        <li  data-toggle="collapse" data-target="#reports" aria-expanded="true" aria-controls="reports">
            <a class="nav-link-table js-scroll-trigger" href="#headingSix" >
                <i data-feather="bar-chart-2"></i>

              Reports
            </a>
        </li>
        <li  data-toggle="collapse" data-target="#sysEng" aria-expanded="true" aria-controls="sysEng">
              <a class="nav-link-table js-scroll-trigger" href="#headingSeven" >
                  <i data-feather="settings"></i>

                System Engineering
              </a>
        </li>
        <li  data-toggle="collapse" data-target="#test" aria-expanded="true" aria-controls="test">
                <a class="nav-link-table js-scroll-trigger" href="#headingEight">
                    <i data-feather="check-square"></i>
                  Testing
                </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#spec" aria-expanded="true" aria-controls="spec">
                  <a class="nav-link-table js-scroll-trigger " href="#headingNine" >
                      <i data-feather="clipboard"></i>
                    Specifications
                  </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#doc" aria-expanded="true" aria-controls="doc">
                    <a class="nav-link-table js-scroll-trigger" href="#headingTen" >
                        <i data-feather="archive"></i>
                      Documentations
                    </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#site" aria-expanded="true" aria-controls="site">
                      <a class="nav-link-table js-scroll-trigger" href="#headingeEleven" >
                          <i data-feather="navigation"></i>
                        Site
                      </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#travel" aria-expanded="true" aria-controls="travel">
                        <a class="nav-link-table js-scroll-trigger" href="#headingTwelve" >
                          <i data-feather="map"></i>
                          Travel & Living</a>
                        
        </li>
      </ul>
</div>