        <!-- Title -->

<div class="container">
    <h3>Tables </h3>
     
</div>
<!--Tables-->
<div class="container">
      <!--tabs-->

    <ul class="nav nav-tabs sidenav-table">
      <li class="nav-item" >
        <a class="nav-link active" href="#emp" data-toggle="tab">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#dep" data-toggle="tab">Departments</a>
      </li>
    
    </ul>
    <!--tabs content-->

    <div class="tab-content">
        <div class="tab-pane active" id="emp">
          <div class="panel panel-default">
          
            <div id="empTab" class="panel-collapse in">
              <div class="panel-body">
                  <table class="table  table-sm table-bordered">
                      <thead class="thead-primary">
                        <tr>
                          <th></th>
                          <th>Total</th>
                          <th>Local</th>
                          <th>Remote</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>PM</td>
                          
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                            <td>AC</td>
                          
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                              <td>LE</td>
                            
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                                <td>AE</td>
                              
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                  <td>ST</td>
                                
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <tr>
                                    <td>SE</td>
                                  
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>SR</td>
                                  
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Total</td>
                                  
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">Actual%</td>
                                  
                                    
                                  
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td colspan="3">Target%</td>
                                  
                                    <td></td>
                                  
                                  </tr>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="dep">
          <div class="panel panel-default">
        
            <div id="depTab" class="panel-collapse ">
              <div class="panel-body">
                  <table class="table  table-sm table-bordered">
                      <thead class="thead-primary">
                        <tr>
                          <th></th>
                          <th>Total</th>
                          <th>Local</th>
                          <th>Remote</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>PM</td>
                          
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                            <td>AC</td>
                          
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                              <td>LE</td>
                            
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                                <td>AE</td>
                              
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                  <td>ST</td>
                                
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <tr>
                                    <td>SE</td>
                                  
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>SR</td>
                                  
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Total</td>
                                  
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">Actual%</td>
                                  
                                    
                                  
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td colspan="3">Target%</td>
                                  
                                    <td></td>
                                  
                                  </tr>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
        </div>
      
      </div>
  </div>