<div class="d-flex justify-content-between flex-wrap  align-items-center pt-2 pb-2 mb-3 border-bottom">
    <div class="progress col nopadding">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:5%" data-toggle="tooltip" data-placement="top" title="Control: 5%">
         <a class="progress-text">Control</a> 
            
        </div>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:10%" data-toggle="tooltip" data-placement="top" title="Safety: 10%">
          
          <a class="progress-text">Safety</a>
              
            
          
        </div>
<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:20%" data-toggle="tooltip" data-placement="top" title="Device Integration: 20%">
             <a class="progress-text"> 
               Device Integration

             </a> 
         
              
          
        </div>
      </div>
      <h5 class="text-primary col-1 text-center">35%</h5>
</div>
